#title{
    font-family:  "Courier New", monospace;
    margin: auto;
    width: 50%;
    margin-top: 50px;
}

#remote{
    font-family:  "Courier New", monospace;
    margin: auto;
    width: 50%;
    margin-top: 50px;
}


